[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
scikit-image = "==0.18.3"
pywin32 = "*"
tk = "*"
ttkthemes = "*"
tensorflow = "==2.10"
pynput = "*"
sv-ttk = "*"
ttkbootstrap = "*"
auto-py-to-exe = "*"

[dev-packages]

[requires]
python_version = "3.9"
