[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
scikit-image = "*"
numpy = "*"
pynput = "*"
ttkthemes = "*"
ipykernel = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.9"
